.container-fluid
	.row
		.col-xs-2
			.form-group#edit-controls
				p Oops, I broke the editor, it doesn't refresh the geometry
				.checkbox
					input(type='checkbox' name='enable-edit' checked='checked')
					|  Edit
				ul#control-list
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='wall')
						|  Wall
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='door')
						|  Door
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='hiddendoor')
						|  Hidden Door
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='onewaypassage')
						|  One-way Passage
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='stairs')
						|  Stairs
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='darkness')
						|  Darkness
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='spin')
						|  Spin
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='teleport')
						|  Teleport
		.col-xs-6.text-center
			.simulated-apple-screen
				.box#webgl-topdown
				.box.render
				.box.border
				.box.ur
				.box.ur1
				.box.ur2
				.box.ur3
				.box.ur4
				.box.mr
				.box.center
				.box.c1
				.box.c2
				.box.c3
				.box.c4
				.box.bottom
				.box.bot1
				.box.bot2
				.box.bot3
				.box.bot4
				.box.bot5
				.box.bot6
				.box.bot7
		.col-xs-4
			canvas#draw-grid(width='256px' height='256px')
			#webgl-viewport(style='height: 256px; width: 256px; display: none;')
	.row
		.col-xs-12
			.simulated-apple-screen
				.sr(data-idx=0)
				.sr(data-idx=1)
				.sr(data-idx=2)
				.sr(data-idx=3)
				.sr(data-idx=4)
				.sr(data-idx=5)
				.sr(data-idx=6)
				.sr(data-idx=7)
				.sr(data-idx=8)
				.sr(data-idx=9)
				.sr(data-idx=10)
				.sr(data-idx=11)
				.sr(data-idx=12)
				.sr(data-idx=13)
				.sr(data-idx=14)
				.sr(data-idx=15)
				.sr(data-idx=16)
				.sr(data-idx=17)
				.sr(data-idx=18)
				.sr(data-idx=19)
				.sr(data-idx=20)
				.sr(data-idx=21)
				.sr(data-idx=22)
				.sr(data-idx=23)

			
