.container-fluid
	.row
		.col-xs-2
			.form-group#edit-controls
				p Oops, I broke the editor, it doesn't refresh the geometry
				.checkbox
					input(type='checkbox' name='enable-edit' checked='checked')
					|  Edit
				ul#control-list
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='wall')
						|  Wall
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='door')
						|  Door
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='hiddendoor')
						|  Hidden Door
					li.radio
						input(type='radio' data-type='edge' name='draw-entity' value='onewaypassage')
						|  One-way Passage
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='stairs')
						|  Stairs
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='darkness')
						|  Darkness
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='spin')
						|  Spin
					li.radio
						input(type='radio' data-type='cell' name='draw-entity' value='teleport')
						|  Teleport
		.col-xs-6.text-center
			.simluated-apple-screen
				.top-third
					.box#webgl-topdown(style='height: 256px; width: 256px; padding: 0px; float: left;').bn.bw.be
					.stack
						.box.encounters(style='height: 128px;').bn.be
						.box.options(style='height: 128px;').bn.be
				.box.messages(style='float: clear; height: 128px;').bw.bn.be
				.box.characters(style='height: 224px;').bn.bw.be.bs
		.col-xs-4
			canvas#draw-grid(width='256px' height='256px')
			#webgl-viewport(style='height: 256px; width: 256px; display: none;')
			
